In [10]:
import pandas as pd

# 加载csv和tsv数据

In [11]:
weather = pd.read_csv('./data/weather.csv')
weather

      城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
0    新北市  烏來區   福山   13.7     92.0       0.0
1    臺南市  安平區   安平   23.5     70.0       0.0
2    臺東縣  東河鄉  七塊厝   19.6     86.0       0.0
3    新北市  貢寮區   福隆   14.2     96.0     -99.0
4    南投縣  仁愛鄉  小奇萊    8.3     57.0       0.0
..   ...  ...  ...    ...      ...       ...
479  新北市  板橋區   板橋   15.6     73.0       5.0
480  宜蘭縣  大同鄉  翠峰湖    7.8    100.0       0.0
481  花蓮縣  壽豐鄉   大坑   15.7     94.0       0.0
482  新竹縣  五峰鄉   雪霸   15.7     62.0       0.0
483  桃園市  大溪區   大溪   14.8     77.0       8.0

[484 rows x 6 columns]

In [12]:
type(weather)

pandas.core.frame.DataFrame

In [14]:
test = pd.read_csv('./data/migr_asyctz.tsv')
test

,citizen,unit,geo\time\t2007 \t2006 \t2005 \t2004 \t2003 \t2002 \t2001 \t2000 \t1999 \t1998 \t1997 \t1996 \t1995 \t1994 \t1993 \t1992 \t1991 \t1990 \t1989 \t1988 \t1987 \t1986 \t1985
0,AD,PER,AT\t0 p\t0 p\t0 p\t0 p\t0 \t0 \t0 \t0 \t0 \t0 ...
1,AD,PER,BE\t0 p\t0 p\t0 p\t0 p\t0 \t0 \t: \t: \t0 \t: ...
2,AD,PER,BG\t0 p\t0 p\t0 p\t0 p\t0 \t: \t: \t: \t: \t: ...
3,AD,PER,CY\t0 p\t0 p\t0 p\t0 p\t0 \t: \t: \t: \t0 \t: ...
4,AD,PER,CZ\t0 p\t0 p\t0 p\t0 p\t0 \t: \t: \t: \t0 \t: ...
...,...,...,...
6255,ZW,PER,RO\t5 p\t5 p\t0 p\t0 p\t0 \t0 \t0 \t0 \t0 \t0 ...
6256,ZW,PER,SE\t15 p\t15 p\t10 p\t5 p\t15 \t: \t5 \t0 \t0 ...
6257,ZW,PER,SI\t0 p\t0 p\t0 p\t0 p\t0 \t: \t0 \t0 \t0 \t0 ...
6258,ZW,PER,SK\t0 p\t0 p\t0 p\t0 p\t0 \t: \t0 \t: \t: \t: ...
6259,ZW,PER,UK\t2300 p\t2145 r\t1390 p\t2520 p\t4020 \t869...

In [15]:
type(test)

pandas.core.frame.DataFrame

# dataframe的行标签和列标签

In [16]:
weather.index

RangeIndex(start=0, stop=484, step=1)

In [17]:
weather.columns

Index(['城市', '行政区', '观测站', '气温(度)', '相对湿度(%)', '累积雨量(mm)'], dtype='object')

In [18]:
weather_df = weather.set_index('城市')
weather_df

     行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
城市
新北市  烏來區   福山   13.7     92.0       0.0
臺南市  安平區   安平   23.5     70.0       0.0
臺東縣  東河鄉  七塊厝   19.6     86.0       0.0
新北市  貢寮區   福隆   14.2     96.0     -99.0
南投縣  仁愛鄉  小奇萊    8.3     57.0       0.0
..   ...  ...    ...      ...       ...
新北市  板橋區   板橋   15.6     73.0       5.0
宜蘭縣  大同鄉  翠峰湖    7.8    100.0       0.0
花蓮縣  壽豐鄉   大坑   15.7     94.0       0.0
新竹縣  五峰鄉   雪霸   15.7     62.0       0.0
桃園市  大溪區   大溪   14.8     77.0       8.0

[484 rows x 5 columns]

In [19]:
weather

      城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
0    新北市  烏來區   福山   13.7     92.0       0.0
1    臺南市  安平區   安平   23.5     70.0       0.0
2    臺東縣  東河鄉  七塊厝   19.6     86.0       0.0
3    新北市  貢寮區   福隆   14.2     96.0     -99.0
4    南投縣  仁愛鄉  小奇萊    8.3     57.0       0.0
..   ...  ...  ...    ...      ...       ...
479  新北市  板橋區   板橋   15.6     73.0       5.0
480  宜蘭縣  大同鄉  翠峰湖    7.8    100.0       0.0
481  花蓮縣  壽豐鄉   大坑   15.7     94.0       0.0
482  新竹縣  五峰鄉   雪霸   15.7     62.0       0.0
483  桃園市  大溪區   大溪   14.8     77.0       8.0

[484 rows x 6 columns]

# loc获取指定行标签 列标签的内容

In [22]:
weather.loc[[52, 62, 72], ['城市', '行政区', '观测站']]

     城市  行政区    观测站
52  南投縣  仁愛鄉  奇萊稜線A
62  宜蘭縣  壯圍鄉     壯圍
72  花蓮縣  豐濱鄉     靜浦

In [24]:
weather.loc[[52, 62, 72]]

     城市  行政区    观测站  气温(度)  相对湿度(%)  累积雨量(mm)
52  南投縣  仁愛鄉  奇萊稜線A  -99.0  -9900.0       0.0
62  宜蘭縣  壯圍鄉     壯圍   16.3     79.0       0.0
72  花蓮縣  豐濱鄉     靜浦   18.1     95.0       2.5

In [28]:
# 获取所有行的城市、行政区、观测站列的数据
weather.loc[:,['城市', '行政区', '观测站']]

      城市  行政区  观测站
0    新北市  烏來區   福山
1    臺南市  安平區   安平
2    臺東縣  東河鄉  七塊厝
3    新北市  貢寮區   福隆
4    南投縣  仁愛鄉  小奇萊
..   ...  ...  ...
479  新北市  板橋區   板橋
480  宜蘭縣  大同鄉  翠峰湖
481  花蓮縣  壽豐鄉   大坑
482  新竹縣  五峰鄉   雪霸
483  桃園市  大溪區   大溪

[484 rows x 3 columns]

In [33]:
weather.loc[[57]]

     城市  行政区 观测站  气温(度)  相对湿度(%)  累积雨量(mm)
57  臺南市  將軍區  將軍   21.4     73.0       0.0

In [34]:
type(weather.loc[[57]])

pandas.core.frame.DataFrame

In [35]:
weather.loc[57]

城市           臺南市
行政区          將軍區
观测站           將軍
气温(度)       21.4
相对湿度(%)       73
累积雨量(mm)       0
Name: 57, dtype: object

In [36]:
type(weather.loc[57])

pandas.core.series.Series

In [39]:
weather.loc[[57],['气温(度)']]

    气温(度)
57   21.4

In [40]:
type(weather.loc[[57],['气温(度)']])

pandas.core.frame.DataFrame

In [41]:
weather.loc[57,['气温(度)']]

气温(度)    21.4
Name: 57, dtype: object

In [42]:
type(weather.loc[57,['气温(度)']])

pandas.core.series.Series

In [45]:
weather.loc[[57],'气温(度)']

57    21.4
Name: 气温(度), dtype: float64

In [46]:
type(weather.loc[[57],'气温(度)'])

pandas.core.series.Series

In [47]:
weather.loc[57, '气温(度)']

21.4

In [48]:
type(weather.loc[57, '气温(度)'])

numpy.float64

# iloc获取指定行位置、列位置的内容

In [49]:
weather.iloc[[0,2,4],[0,1,2]]

    城市  行政区  观测站
0  新北市  烏來區   福山
2  臺東縣  東河鄉  七塊厝
4  南投縣  仁愛鄉  小奇萊

In [50]:
type(weather.iloc[[0,2,4],[0,1,2]])

pandas.core.frame.DataFrame

In [51]:
weather.iloc[[0,2,4]]

    城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
0  新北市  烏來區   福山   13.7     92.0       0.0
2  臺東縣  東河鄉  七塊厝   19.6     86.0       0.0
4  南投縣  仁愛鄉  小奇萊    8.3     57.0       0.0

In [52]:
type(weather.iloc[[0,2,4]])

pandas.core.frame.DataFrame

In [53]:
weather.iloc[:,[0,1,2]]

      城市  行政区  观测站
0    新北市  烏來區   福山
1    臺南市  安平區   安平
2    臺東縣  東河鄉  七塊厝
3    新北市  貢寮區   福隆
4    南投縣  仁愛鄉  小奇萊
..   ...  ...  ...
479  新北市  板橋區   板橋
480  宜蘭縣  大同鄉  翠峰湖
481  花蓮縣  壽豐鄉   大坑
482  新竹縣  五峰鄉   雪霸
483  桃園市  大溪區   大溪

[484 rows x 3 columns]

In [54]:
type(weather.iloc[:,[0,1,2]])

pandas.core.frame.DataFrame

In [55]:
weather.iloc[1]

城市           臺南市
行政区          安平區
观测站           安平
气温(度)       23.5
相对湿度(%)       70
累积雨量(mm)       0
Name: 1, dtype: object

In [56]:
type(weather.iloc[1])

pandas.core.series.Series

In [57]:
weather.iloc[[1]]

    城市  行政区 观测站  气温(度)  相对湿度(%)  累积雨量(mm)
1  臺南市  安平區  安平   23.5     70.0       0.0

In [58]:
type(weather.iloc[[1]])

pandas.core.frame.DataFrame

In [59]:
weather.iloc[[1], [2]]

  观测站
1  安平

In [60]:
type(weather.iloc[[1],[2]])

pandas.core.frame.DataFrame

In [61]:
weather.iloc[1, [2]]

观测站    安平
Name: 1, dtype: object

In [62]:
type(weather.iloc[1, [2]])

pandas.core.series.Series

In [63]:
weather.iloc[[1], 2]

1    安平
Name: 观测站, dtype: object

In [65]:
type(weather.iloc[[1],2])

pandas.core.series.Series

In [66]:
weather.iloc[1, 2]

'安平'

In [67]:
type(weather.iloc[1, 2])

str

In [75]:
weather.loc[0:2, '城市':'观测站']

    城市  行政区  观测站
0  新北市  烏來區   福山
1  臺南市  安平區   安平
2  臺東縣  東河鄉  七塊厝

In [71]:
weather.columns

Index(['城市', '行政区', '观测站', '气温(度)', '相对湿度(%)', '累积雨量(mm)'], dtype='object')

In [74]:
weather.index

RangeIndex(start=0, stop=484, step=1)

# loc和iloc的切片操作

In [77]:
weather.iloc[0:3, 0:3]

    城市  行政区  观测站
0  新北市  烏來區   福山
1  臺南市  安平區   安平
2  臺東縣  東河鄉  七塊厝

In [79]:
weather.loc[0:2, '城市':'观测站']

    城市  行政区  观测站
0  新北市  烏來區   福山
1  臺南市  安平區   安平
2  臺東縣  東河鄉  七塊厝

In [80]:
weather[['城市', '行政区', '观测站']]

      城市  行政区  观测站
0    新北市  烏來區   福山
1    臺南市  安平區   安平
2    臺東縣  東河鄉  七塊厝
3    新北市  貢寮區   福隆
4    南投縣  仁愛鄉  小奇萊
..   ...  ...  ...
479  新北市  板橋區   板橋
480  宜蘭縣  大同鄉  翠峰湖
481  花蓮縣  壽豐鄉   大坑
482  新竹縣  五峰鄉   雪霸
483  桃園市  大溪區   大溪

[484 rows x 3 columns]

In [81]:
weather[['城市']]

      城市
0    新北市
1    臺南市
2    臺東縣
3    新北市
4    南投縣
..   ...
479  新北市
480  宜蘭縣
481  花蓮縣
482  新竹縣
483  桃園市

[484 rows x 1 columns]

In [82]:
type(weather[['城市']])

pandas.core.frame.DataFrame

In [83]:
weather['城市']

0      新北市
1      臺南市
2      臺東縣
3      新北市
4      南投縣
      ...
479    新北市
480    宜蘭縣
481    花蓮縣
482    新竹縣
483    桃園市
Name: 城市, Length: 484, dtype: object

In [84]:
type(weather['城市'])

pandas.core.series.Series

In [95]:
weather[:3]

    城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
0  新北市  烏來區   福山   13.7     92.0       0.0
1  臺南市  安平區   安平   23.5     70.0       0.0
2  臺東縣  東河鄉  七塊厝   19.6     86.0       0.0

In [96]:
weather[:5:2]

    城市  行政区  观测站  气温(度)  相对湿度(%)  累积雨量(mm)
0  新北市  烏來區   福山   13.7     92.0       0.0
2  臺東縣  東河鄉  七塊厝   19.6     86.0       0.0
4  南投縣  仁愛鄉  小奇萊    8.3     57.0       0.0